<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>

        <main>
            Some text here<br/>
            We found the following Messages in JsonDB:<br/>
            <ul id="messages">
                <% messages.forEach((message) => { %>
                    <li><%= message._id %> - <%= message.id %> - <%= message.title %> - <%= message.prio %></li>
                <% }); %>
            </ul>
        </main>

        <% include ../partials/footer.ejs %>

        <script>
            var expressConfig = {port: <%= config.application.port %>, hostname: '<%= hostname %>'};
        </script>
        <script src="js/libraries/socket.io.js" type="application/javascript"></script>
        <script src="js/main.js" type="application/javascript"></script>
    </body>
</html>
