<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container">
            <main>
                <div id="messages" class="row">
                    <% messages.forEach((message) => { %>
                        <div class="col s12 m6">
                            <div class="card hoverable">
                                <div class="card <%= stringsHelper.getColorBasedOnPrio(message.prio) %> accent-2">
                                    <div class="card-content white-text">
                                        <div class="iconbox">
                                            <div class="left"><i class="material-icons">error</i></div>
                                            <div class="right"><input type="checkbox" class="completed-checkbox" id='<%= message._id %>' data-id="<%= message._id %>" data-completed="<%= message.completed %>" <%= message.completed ? 'checked="checked" disabled' : '' %> /> <label for='<%= message._id %>' >Done</label></div>
                                        </div>

                                        <span class="card-title"><%= message.client_name %> - <%= message.title %></span>

                                        <p><%= message.message %></p><br>

                                        <%= stringsHelper.fixTimeCalculation(new Date(message.created).getDay()) %>-<%= stringsHelper.fixTimeCalculation(new Date(message.created).getMonth()) %>-<%= stringsHelper.fixTimeCalculation(new Date(message.created).getFullYear()) %> <%= stringsHelper.fixTimeCalculation(new Date(message.created).getHours()) %>:<%= stringsHelper.fixTimeCalculation(new Date(message.created).getMinutes()) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </main>
        </div>
        <% include ../partials/footer.ejs %>
        <% include ../partials/socket-js.ejs %>
    </body>
</html>
