<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>

        <main>
            Some text here<br/>
            We found the following Messages in JsonDB:<br/>
            <ul id="messages">
                <% messages.forEach((message) => { %>
                    <li><%= message._id %> - <%= message.id %> - <%= message.title %> - <%= message.prio %> - <%= message.client_name %></li>
                <% }); %>
            </ul>
        </main>

        <% include ../partials/footer.ejs %>
        <% include ../partials/socket-js.ejs %>
    </body>
</html>
